*
    box-sizing: border-box
    overflow:
    margin: 0 
    padding: 0
    font-family: 'Poppins', sans-serif
    .container 
        width: 1140px
        margin: 0 auto

    
        
@import "block/promo/promo"
@import "block/promo/social"
@import "block/promo/hamburger"
@import "block/promo/menu"
@import "block/cv/cv"
@import "block/benefit/benefit"
@import "block/skills/skills"  
@import "block/level/level"
@import "block/portfolio/portfolio"
@import "block/price/price"
@import "block/contacts/contacts"





@import "block/cv/mediacv"
@import "block/promo/mediapromo"
@import "block/benefit/mediabenefit"
@import "block/skills/mediaskills"
@import "block/level/medialevel"
@import "block/portfolio/mediaportfolio"
@import "block/price/mediaprice"
@import "block/contacts/mediacontacts"


